
//GENERALES

.font-mont{
    font-family: $font1;
}

.font-open{
    font-family: $font2;
}

.font-mukta{
    font-family: $font3;
}

.font-quicksand{
    font-family: $font4;
}


*{
    font-family: $font1;
    font-size: 10pt;
}


.tran {
    -ms-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.cursor{
    cursor: pointer;
}

//COLORS

.bg-color1{
    background-color: $color1;
}
.bg-color2{
    background-color: $color2;
}
.bg-color3{
    background-color: $color3;
}
.bg-color4{
    background-color: $color4;
}
.bg-color5{
    background-color: $color5;
}
.text-color1{
    color: $color1;
}
.text-color2{
    color: $color2;
}
.text-color3{
    color: $color3;
}
.text-color4{
    color: $color4;
}
.text-color5{
    color: $color5;
}

//SIZES

.vw-100{
    width: 100vw;
}
.vh-100{
    height: 100vh;
}


//BUTTONS

.btn1{
    background-color: white;
    border: none;
    border-radius: .5em;
    color: $color1;
    cursor: pointer;
}

//RAMDOM

.dropdown-toggle::after{
    display: none; 
}